<%/*
 actionUrl
 comment
 commentForm
 commentError
 parentComment
*/%>

<form action="<%= actionUrl %><%= getApplyQueryString(true) %>" method="post">
  <fieldset <%= !isAuthenticated?'disabled':'' %>>
    <% if(parentComment2){ %>
      <input type="hidden" name="parentComment2" value="<%= parentComment2 %>">
    <% } %>
    <div class="row">
      <div class="col-8">
        <textarea name="text" rows="2" class="form-control <%= (comment2Error._id == comment2._id && comment2Error.parentComment2 == parentComment2 && comment2Error.errors.text)?'is-invalid':'' %>"><%= (comment2Form._id == comment2._id)?comment2Form.form.text:comment2.text %></textarea>
      </div>
      <div class="col-4">
        <% if(comment2._id){ %>
          <button type="submit" class="btn btn-primary h-100 mr-2 pl-4 pr-4">Edit</button>
          <a href="javascript:void(0)" onclick="$('#comment2-<%= comment2._id %>').removeClass('comment2-edit-enabled')">Cancel</a>
        <% } else if(parentComment2) {%>
          <button type="submit" class="btn btn-primary h-100 mr-2">Add Reply</button>
          <a href="javascript:void(0)" onclick="$('#comment2-<%= parentComment2 %>').removeClass('comment2-reply-enabled')">Cancel</a>
        <% } else { %>
          <button type="submit" class="btn btn-primary h-100 mr-2">Add Comment2</button>
        <% } %>
      </div>
    </div>
    <% if(comment2Error._id == comment2._id && comment2Error.parentComment2 == parentComment2 && comment2Error.errors.text){ %>
      <span class="invalid-feedback d-block"><%= comment2Error.errors.text.message %></span>
    <% } %>
  </fieldset>
</form>
